<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="materials" value="true" />
		<add key="elementId" value="true" />
		<add key="normals" value="true" />
		<add key="levels" value="true" />
		<add key="lights" value="true" />
		<add key="grids" value="true" />
		<add key="batchId" value="true" />
		<add key="boundingBox" value="true" />
		<add key="relocateTo0" value="true" />
		<add key="flipAxis" value="true" />
		<add key="exportProperties" value="true" />
		<add key="singleBinary" value="true" />
		<add key="units" value="true" />
		<add key="compression" value="none" />
		<add key="digits" value="3,0" />
		<add key="path" value="C:\Users\User\Desktop" />
		<add key="fileName" value="3dExport" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
