<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="materials" value="true" />
		<add key="format" value="gltf" />
		<add key="normals" value="false" />
		<add key="levels" value="false" />
		<add key="lights" value="false" />
		<add key="grids" value="false" />
		<add key="batchId" value="false" />
		<add key="properties" value="false" />
		<add key="relocateTo0" value="false" />
		<add key="flipAxis" value="true" />
		<add key="units" value="null" />
		<add key="compression" value="none" />
		<add key="path" value="C:\Users\User\Desktop" />
		<add key="fileName" value="3dExport" />
		<add key="runs" value="0" />
		<add key="runs" value="0" />
		<add key="version" value="0.0.0" />
		<add key="user" value="user01" />
		<add key="release" value="0" />
		<add key="isRFA" value="false" />
		<add key="apikey" value="0" />
  </appSettings>
</configuration>
